@charset "utf-8";
/* CSS Document */

.KKbotao label{
	
	overflow:hidden;
	z-index: 99;
	display: none;
	cursor: pointer;
	color: #666;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 35px;
	transition: 
		width 0.3s ease-in-out, 
		box-shadow 0.6s linear;
  	background-color:rgba(255,162,0,0.8);
 	padding: 7px 15px 7px 35px;
	border-top-right-radius:20px;
 	border-bottom-right-radius:20px;
  	margin-left:-35px;
  	width:120px;
	animation: slideMenu 3.0s ease-in 1;
}

@keyframes slideMenu {
    0% {
        transform: translateX(-100px); }
    40% {
        transform: translateX(0); }
    70% {
        box-shadow: 0px 0px 10px #FFF4E9; }
    100% {
        box-shadow: none; }
}

.KKbotao label:hover{
	color:#888;
}

.KKmenu input{
	display: none;
}

.KKmenu article{
	background: rgba(255, 255, 255, 0.5);
	overflow: hidden;
	width: 0px;
 	height:100%;
	position: fixed;
	z-index: 10;
	padding-top: 110px;
	position: fixed;
	text-align:center;
  	transition: 
		width 0.5s ease-in-out, 
		box-shadow 0.1s linear;
  	background-color:rgba(255,162,0,0.8);
}

.KKmenu input:checked ~ article{
	transition: 
		width 0.5s ease-in-out, 
		box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
	width:90px;
}

.KK-size {

  margin-left: -15px;
}

.KKbotao {
	position: fixed;
	padding-left: 20px;
	padding-top: 75px;
	z-index: 15;
}